.about {
  display: block;
  position: absolute;
  width: 4%;
  height: 3%;
  left: 24.6%;
  bottom: 21.5%;
  margin: auto;
  transform: rotate(14deg);
}

.facebook {
  display: block;
  position: absolute;
  width: 0.6%;
  height: 5.8%;
  right: 40.8%;
  bottom: 10%;
  margin: auto;
  transform: rotate(-18deg);
}
